.intestazione{
    background-color: rgb(119, 189,217 );
    padding: 30px;
}

.logo{
    width: 150px;
}

.titolo-articolo{
    margin-bottom: 0;
    padding: 0;
}

.nome-rubrica{
    color: blue;
}

.descrizione-foto{
    font-weight: 100;
    font-size: 10px;
}

.testo-importante{
    background-color: yellow;
}

.intestazione-tabella{
    background-color: rgba(0, 0, 255, 0.616);
}

.riga-colorata{
    background-color: aquamarine;
}

.prima-colonna{
    width: 400px;
    height: 30px;
}

.seconda-colonna{
    width: 400px;
    height: 30px;
}

.terza-colonna{
    width: 700px;
    height: 30px;
    word-wrap: break-word;
}

.fondo-pagina{
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
}

.ultimo-elemento{
    margin-bottom: 40px;
}

/* aggiungo commento per caricare una modifica */