/* generali */

body{
    margin: 0;
}

/* header */

.intestazione{
    background-color: rgb(119, 189,217 );
    padding: 30px 10px;
}

/* body */

h1{
    margin-bottom: 0;
}

.logo{
    width: 150px;
}


main{
    padding: 1%;
}

.titolo-articolo{
    margin-bottom: 0;
    padding: 0;
}

.autore{
    margin-top: 0;
    color: grey;
    margin-bottom: 0;
}

.data{
    margin-top: 0;
    color: grey;
}

.nome-rubrica{
    color: blue;
}

.descrizione-foto{
    font-size: 10px;
    margin: 0;
}

.testo-importante{
    background-color: yellow;
}

.lista{
    padding-left: 15px;
}

.intestazione-tabella{
    background-color: rgba(0, 0, 255, 0.616);
}

.riga-colorata{
    background-color: aquamarine;
}

.colonne-corte{
    width: 30%;
    height: 10%;
}

.terza-colonna{
    width: 40%;
    height: 10%;
    word-wrap: break-word;
}

/* footer */

.fondo-pagina{
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
}

.ultimo-elemento{
    margin-bottom: 40px;
}

